Package: chip-mali-userspace
Source: mesa
Version: 0.1
Architecture: armhf
Maintainer: Next Thing Co. <software@nextthing.co>
Installed-Size: 1367
Pre-Depends: multiarch-support
Provides: libgles2, libgles1
Conflicts: libgles2, libgles1
Depends: libc6 (>= 2.4), libdrm2 (>= 2.4.38), libgbm1 (>= 7.11~1), libgcc1 (>= 1:4.4.0), libstdc++6 (>= 4.6), libudev1 (>= 183), libwayland-client0 (>= 1.0.2), libwayland-server0 (>= 1.0.2), libx11-6 (>= 2:1.4.99.1), libxext6, libxfixes3
Section: libs
Priority: optional
Multi-Arch: same
Description: CHIP Mali binary driver
